<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %} - TEMPLATES BLOCKS</title>
    <!-- ZONA DE ESTILOS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% block  estilos %}
    {% endblock %}
</head>
<body>
    {% load static %}

    <div class="container">
        {% block  contenido %}
        {% endblock %}
    

        {{ usuario }}
   </div>
    <!-- ZONA DE JAVASCRIPT -->
    <script src="{% static 'js/index.js' %}"></script>

    {% block  scri %}
    {% endblock %}
</body>
</html>